<center>
<h1>Listing all users</h1>
</center>
<br>
<br>

<div class="ui three column doubling stackable grid container">
<% @users.each do |user| %>





  <div class="column">
    <div class="ui fluid card">
      <div class="content">
        <a class="header"><%= user.full_name %></a>
</div>
<div class="extra content">
<%= link_to "View", user_path(user), class: 'ui bottom attached button' %>
      </div>

    </div>
  </div>



<% end %>
</div>
