<div class="ui small inverted menu">
<div class="ui container">
  <a class="active item">
    Galookup
  </a>
  <a class="item">
    Browse
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Activities <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Running</a>
        <a class="item">Swimming</a>
      </div>
    </div>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>
</div>
